@import "~antd/lib/style/themes/default.less";
@import "../../../utils/utils.less";

.filterCard {
  margin-bottom: 16px;
  .departmentFilter {
    float: left;
    :global {
      .ant-select-selection__choice {
        color: #219fab;
      }
    }
  }
  .dateFilter {
    float: right;
  }
}

.tabCard {
  margin-bottom: 16px;
  :global {
    #scoreChart {
      position: relative;
    }
    .ant-tabs-bar {
      border-color: #fff;
      margin-bottom: 0;
      padding-left: 16px;
      .ant-tabs-tab {
        width: 120px;
        padding: 4px 0 !important;
        text-align: center;
        line-height: 24px !important;
        color: #fff;
        border: none !important;
        background: #335165 !important;
      }
      .ant-tabs-tab-active {
        background: #fff !important;
        color: @primary-color;
        font-size: 16px;
        line-height: 28px !important;
        padding: 9px 0 !important;
      }
    }
    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }
    .ant-card-head {
      position: relative;
    }
  }
  .tabContent {
    padding: 26px 0;
    background: #fff;
    overflow-x: scroll;
    .tableWrap {
      width: 100%;
      text-align: center;
      thead {
        th {
          min-width: 275px;
          position: relative;
          color: #07263b;
          padding-bottom: 7px;
          border-bottom: 1px solid rgba(216, 216, 216, .2);
          border-right: 1px dashed rgba(153, 153, 153, .3);
        }
        th:last-child {
          border-right: none;
        }
        th:before {
          content: '';
          width: 6px;
          height: 1px;
          background: #d8d8d8;
          position: absolute;
          left: 0;
          top: 0;
        }
        th:after {
          content: '';
          width: 6px;
          height: 1px;
          background: #d8d8d8;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      tbody {
        td {
          min-width: 320px;
          padding-top: 25px;
          border-right: 1px dashed rgba(153, 153, 153, .3);
          border-bottom: 2px solid #b7b7b7;
          > div {
            margin: 0 auto;
          }
        }
        td:last-child {
          border-right: none;
        }
        .scoreLineInTd {
          width: 320px;
          margin: 0 auto;
        }
      }
    }
    .decomposeWrap {
      tbody {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.ruleCard {
  p {
    margin: 0;
  }
  .ruleTitle {
    font-size: 18px;
    color: @primary-color;
    font-weight: bold;
    margin-bottom: 14px;
  }
  .ruleBlock {
    .ruleBlockTitle {
      color: #6495e8;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .ruleDesc {
      color: #333;
      padding-left: 25px;
    }
    .ruleTable {
      width: 100%;
      margin: 8px 0 14px;
      border-color: #b7b7b7;
      td, th {
        padding: 11px 20px;
        text-align: center;
      }
      .alignLefttTd {
        text-align: left;
      }
      .longTh {
        width: 500px;
      }
    }
    .ruleList {
      font-weight: bold;
      margin: 8px 0 4px 25px;
    }
    .ruleListChild {
      margin-left: 50px;
    }
    .ruleRedMark {
      color: #fa6161;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .tabCard {
    :global {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }
}
